In [1]:
#For loop is used when number of iteration are known and while loop is used when number of iteration is unknown 
#For doesn't check the condition and while loop check the condition

In [2]:
l = ["Faiz"  , "Aamu"  ,"pwskills",  "Sudh" , "Makvana"]

In [3]:
l

['Faiz', 'Aamu', 'pwskills', 'Sudh', 'Makvana']

In [4]:
a = []
for i in l:
    print(i)

Faiz
Aamu
pwskills
Sudh
Makvana

In [5]:
##sum using while loop

In [7]:
n = int(input("enter your limit here"))
starting_point = 0
counter = 1

while counter <= n :
    starting_point = starting_point + counter
    counter = counter + 1 
starting_point

enter your limit here 12

78

In [ ]:
#Question 2

In [8]:
l = [1,2,3,4,5,6,7,8,9,10]

In [9]:
result = 0
for i in l :
    result = result + i
result

55

In [12]:
n = int(input("enter your limit here"))
starting_point = 0
counter = 1

while counter <= n :
    starting_point = starting_point + counter
    counter = counter + 1 
starting_point

enter your limit here 10

55

In [1]:
#product

In [2]:
numbers = range(1,11)

In [4]:
product = 1
for i in numbers :
    product*=i
product

3628800

In [1]:
n  = int(input("enter your num"))
counter = 1
multiplication = 1

while counter < n :
    multiplication  = multiplication * counter 
    counter = counter + 1
multiplication

enter your num 10

362880

In [2]:
#Question 3

In [3]:
n = int(input("enter num of units"))
if n <= 100 :
    bill = n*4.5
else:
    bill = 100*4.5
n -=100
if n <=100 :
    bill += n*6 
else :
    bill += 100*6
n -= 100
if n <= 100:
     bill += n * 10
else:
    bill += 100 * 10
    n -= 100
    bill += n * 20
bill

enter num of units 310

2250.0

In [ ]:
#question 4

In [4]:
range(1,101)

range(1, 101)

In [7]:
number = list(range(1,101))
result = []
for num in number :
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0 :
        result.append(num)
result

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [2]:
#using while loop

In [2]:
number = list(range(1,101))
result = []

i = 1
while i <= len(number) :
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0 :
        result.append(i)
    i = i + 1
result

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [1]:
string = "I want to become a data scientist"

In [2]:
string.lower()

'i want to become a data scientist'

In [7]:
vowels = "aeiou"
count = 0
for char in string :
    if char in vowels :
        count = count + 1
count

11